build/
build/**
.DS_Store
.idea/
node_modules/
node_modules/**

# Ignore Vim swap files.
*~
*.swp
*.swo
*.swn

palatium/main.css.source-map.json
palatium/main.min.css
palatium/styles/components
palatium/styles/modules