@import "bootstrap/bootstrap";
@import "variables";


/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}


// Navbar =====================================================================

.navbar {
    filter: none;
    .box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    background-image: none;
    border: none;

    &-default {
        .navbar-nav > li.dimmed > a {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }

        .badge {
            background-color: #fff;
            color: @navbar-default-bg;
        }
    }

    &-inverse {
        filter: none;
        border-bottom: 1px solid darken(@navbar-inverse-bg, 10%);

        .badge {
            background-color: #fff;
            color: @navbar-inverse-bg;
        }
    }

    .navbar-nav > li > a,
    &-brand {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: @grid-float-breakpoint-max) {

    .navbar {

        .dropdown-header {
            color: #fff;
        }
    }
}

// Buttons ====================================================================

.btn {

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    .caret {
        border-top-color: #fff;
    }
}

.btn-default {

    &:hover {
        color: @btn-default-color;
    }

    .caret {
        border-top-color: @text-color;
    }
}

// Typography =================================================================

.page-header {
    border: none;
}

.fg-0  {color: @color-0;}
//.fg-1 {color: @color-1;}
//.fg-2 {color: @color-2;}
//.fg-3 {color: @color-3;}
.fg-4 {color: @color-4;}
.fg-5 {color: @color-5;}
.fg-6 {color: @color-6;}
.fg-7  {color: @color-7;}
.fg-8  {color: @color-8;}
.fg-9  {color: @color-9;}
.fg-10 {color: @color-10;}
.fg-11 {color: @color-11;}
.fg-12 {color: @color-12;}
.fg-13 {color: @color-13;}
.fg-14 {color: @color-14;}
.fg-15 {color: @color-15;}

.font-size-0 {font-size: 10px;}
.font-size-1 {font-size: 12px;}
.font-size-2 {font-size: 14px;}
.font-size-3 {font-size: 18px;}
.font-size-4 {font-size: 24px; font-weight: 100}
.font-size-5 {font-size: 30px; font-weight: 100}
.font-size-6 {font-size: 48px; font-weight: 100}

.font-weight-bold {font-weight: 700;}
.font-weight-semibold {font-weight: 600;}
.font-weight-regular {font-weight: 400;}
.font-weight-light {font-weight: 100;}



// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.bg-0  {background: @color-0;}
//.bg-1 {background: @color-1;}
//.bg-2 {background: @color-2;}
//.bg-3 {background: @color-3;}
.bg-4 {background: @color-4;}
.bg-5 {background: @color-5;}
.bg-6 {background: @color-6;}
.bg-7  {background: @color-7;}
.bg-8  {background: @color-8;}
.bg-9  {background: @color-9;}
.bg-10 {background: @color-10;}
.bg-11 {background: @color-11;}
.bg-12 {background: @color-12;}
.bg-13 {background: @color-13;}
.bg-14 {background: @color-14;}
.bg-15 {background: @color-15;}


.panel-primary,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {

    .panel-heading,
    .panel-title {
        color: #fff;
    }
}

footer {
    background-color: @color-6;
    color: #c8c8c8;
    padding: 55px 0;

    a {
        color: inherit;
    }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container.vertical-spaced {
    padding-top: 25px;
}

//== Wells
//
//##
.well {
    padding: 0;

    > div {
        padding: 19px;
    }

    > h1, > h2, > h3, > h4, > h5, > h6,
    > .h1, > .h2, > .h3, > .h4, > .h5, > .h6 {
        border-bottom: 1px solid @color-11;
        padding: 17px 12px 18px;
        margin: 0;
    }
}

.well-lg {
    padding: 0;

    > div {
        padding: 24px;
    }
}
.well-sm {
    padding: 0;

    > div {
        padding: 9px;
    }
}

.well > div.statistics-number {
    padding: 10px;
}

//== Settings buttons and help symbols
//
//##
.relative {
    position: relative;

    .settings {
        position: absolute;
        top: 0;
        right: 0;
        padding: 11px;

        &.left {
            right: auto;
            left: 0;
        }

        &.btn-group button {
            color: @color-10;
            font-size: 10px;
            line-height: 10px;
            padding: 9px 12px;
            width: 45px;
            z-index: 0;

            &:hover {
                z-index: 0;
            }

            &.btn-primary {
                background-color: @btn-primary-bg;
                border-color: @btn-primary-bg;
                color: @color-15;
            }

            &.btn:first-child {
                border-right: none;
            }
            &.btn:last-child {
                border-left: none;
            }
        }


        button {
            background: #fff;
            border: 1px solid @color-11;
            border-radius: 20px;
            min-width: 27px;
            line-height: 18px;
            padding-top: 4px;

            &:hover {
                background: @color-14;
                border-color: @color-10;
            }
        }

        &.help {
            padding: 4px 11px;
            border-radius: 20px;
            margin: 5px;
            border: 1px solid @color-11;
        }
    }
}

//== Tables
//
//## Customizes the `.table` component for use in wells.
@table-bg-accent: @color-13;

thead tr th {
    font-weight: inherit;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.table-bordered.table-inner-border {
    border: none;
    margin: 0;

    > thead > tr > th:last-child,
    > thead > tr > td:last-child {
        border-right-width: 0;
    }

    > tbody > tr > td {
        border-top: none;
        border-bottom: none;
    }
}

//== Buttons
//
//## Custom buttons.
button.glyphicon {
    background: transparent;
    border: none;

    &:hover {
        color: @color-10;
    }
}

.table-striped-even {
    > tbody > tr:nth-child(even) {
        > td {
            background-color: @table-bg-accent;
        }

    }

    > thead > tr > th {
        background-color: @table-bg-accent;
    }
}


//== Specific elements
//
//## Style rules to specific elements.
.breadcrumbs {
    word-spacing: 6px;
    color: @color-7;
}

.loadmore {
    margin-bottom: 50px;
}

.copyright {
    margin-top: 12px;
}

.top-border {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: inherit;
}

.fixed-height-0 {
    height: 195px;
    overflow-y: hidden;
}

.well.fixed-height-0 > div.statistics-number {
    padding: 37px 10px;
}

.product-table {
    thead th {
        text-align: center;
        font-weight: 100;
        font-size: 12px;
    }

    colgroup {
        col.identifier {
            width: 150px;
        }

        col.timestamp {
            width: 150px;
        }

        col.tools {
            width: 108px;
        }
    }

    tbody tr td:first-child {
        text-align: center;
    }

    .product-type,
    .date {
        color: @color-7;
    }
}

.measurements-table {
    thead th {
        text-align: center;
    }

    tbody td {
        color: @color-7;
    }

}