
/* ---- WIDGET ---- */

.widget {
    overflow: hidden;
    background-color: #FFF;
    border: none;
    position: relative;
    width: 944px;
    height: 528px;
    margin: -291.5px auto 0px;
    display: block;
    top: 50%;

    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.5);
    -ms-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.5);
    -o-box-shadow: 0 10px 35px 0 rgba(0,0,0,0.5);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.5);
}

.widget .close {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAK0lEQVR4AWNg+M+ACf5DCUxBdIn/2FT8xzAPjHFZREg1ptk4XYLD3Th8CQBNPRTsX9ek9QAAAABJRU5ErkJggg==') no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 11px;
    top: 11px;
}

.widget .menu {
    background: url('../img/menu.png') no-repeat;
    width: 50px;
    height: 528px;
    position: absolute;
    top: 0;
    left: 0;
}

.widget .view {
    position: relative;
    left: 50px;
    top: 0;
}

/* ---- COMPARE ---- */

.compare .right {
    background: url('../img/compare-right-first.png') no-repeat;
    width: 330px;
    height: 315px;
    position: absolute;
    left: 540px;
}

.compare #size-selector {
    position: absolute;
    top: 85px;
    left: -5px;
    width: 356px;
    padding: 0;
}

.compare .size-item {
    float: left;
}

.btn-pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    padding: 0 8px;
    margin: 3px 4px;
    font-weight: 400;
    line-height: 20px;
    color: #3A3A3A;
    text-align: center;
    white-space: nowrap;
    background-color: #FFF;
    border: 2px solid #C7C7C7;
    font: 14px 'Open sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.btn-pill:hover,
.btn-pill:focus {
    background-color: #F3F3F3;
}

.checked .btn-pill {
    color: #FFF;
    background-color: #0098E6;
    border-color: #0098E6;
}

.widget .compare .btn-continue {
    background: url('../img/continue-btn.png') no-repeat;
    width: 260px;
    height: 56px;
    position: absolute;
    left: 40px;
    top: 380px;
}
